<!--
	usuarios.tpl.html
-->

<!-- falta fazer um highlight no botao pra nao precisar colocar um titulo -->
<div id="create" ng-show="on_actions('create')">
	<form class="form">
		<div class="form-group">
			<label>Nome:</label>
			<input class="form-control" ng-model="form.nome">
		</div>
		<div class="form-group">
			<label>Login:</label>
			<input class="form-control" ng-model="form.login">
		</div>
		<div class="form-group">
			<label>Senha:</label>
			<input class="form-control" ng-model="form.senha">
		</div>
		<div class="form-group">
			<label>Ativo:</label>
			<input type="checkbox" ng-model="form.ativo">
		</div>
		<div class="form-group">
			<label>Operador:</label>
			<input type="checkbox" ng-model="form.tipo_operador">
		</div>
		<div class="form-group">
			<label>Técnico:</label>
			<input type="checkbox" ng-model="form.tipo_tecnico">
		</div>
		<div class="form-group">
			<label>Estoquista:</label>
			<input type="checkbox" ng-model="form.tipo_estoquista">
		</div>
		<div class="form-group">
			<label>Orçamento:</label>
			<input type="checkbox" ng-model="form.tipo_orcamento">
		</div>
		<div class="form-group">
			<label>Gerencia:</label>
			<input type="checkbox" ng-model="form.tipo_gerencia">
		</div>
	</form>
	<button class="btn action" ng-click="form_submit()">Confirmar</button>
    <button class="btn action" ng-click="form_close()">Fechar</button>
    <button class="btn action" ng-show="on_actions('create')" ng-click="form_clear()">Limpar</button>
</div>