<!--
	produtos.tpl.html
-->

<div id="create_update" ng-show="on_actions(['create', 'update'])">
	<form class="form">
		<div class="form-group">
			<label>Nome:</label>
			<input class="form-control" ng-model="form.nome">
		</div>
		<div class="form-group">
			<label>Família:</label>
			<ui-select ng-init="list_submodule('familias')" ng-model="form.id_familia" theme="bootstrap">
				<ui-select-match>{{$select.selected.descricao}}</ui-select-match>
				<ui-select-choices repeat="i.id as i in submodules['familias'] | propsFilter: {descricao: $select.search}">
					<span ng-bind-html="html_escape((i.descricao | highlight: $select.search))"></span>
				</ui-select-choices>
			</ui-select>
		</div>
		<div class="form-group">
			<label>Código:</label>
			<input class="form-control" ng-model="form.codigo">
		</div>
		<div class="form-group">
			<label ng-show="on_actions('create')">Estoque Inicial:</label>
			<label ng-show="on_actions('update')">Estoque Atual:</label>
			<input class="form-control" type="number" ng-model="form.estoque">
		</div>
		<div class="form-group">
			<label>Preço de Venda:</label>
			<input class="form-control" type="number" ng-model="form.preco">
		</div>
	</form>
	<button class="btn action" ng-click="form_submit()">Confirmar</button>
	<button class="btn action" ng-click="form_close()">Fechar</button>
	<button class="btn action" ng-show="on_actions('create')" ng-click="form_clear()">Limpar</button>
</div>

<div id="filter" ng-show="on_actions('filter')">
	<form class="form">
		<div class="form-group">
			<label>Nome:</label>
			<input class="form-control" ng-model="form.nome">
		</div>
		<div class="form-group">
			<label>Família:</label>
			<ui-select ng-init="list_submodule('familias')" ng-model="form.id_familia" theme="bootstrap">
				<ui-select-match>{{$select.selected.descricao}}</ui-select-match>
				<ui-select-choices repeat="i.id as i in submodules['familias'] | propsFilter: {descricao: $select.search}">
					<span ng-bind-html="html_escape((i.descricao | highlight: $select.search))"></span>
				</ui-select-choices>
			</ui-select>
		</div>
		<div class="form-group">
			<label>Código:</label>
			<input class="form-control" ng-model="form.codigo">
		</div>
	</form>
	<button class="btn action" ng-click="filter_activate()">Ativar</button>
	<button class="btn action" ng-click="filter_deactivate()">Desativar</button>
	<button class="btn action" ng-click="form_close()">Fechar</button>
</div>

<div id="read_delete" ng-show="on_actions(['read', 'delete'])">
	<strong>Nome: </strong><p>{{selected.nome}}</p>
	<strong>Família: </strong><p>{{selected.familia.descricao}}</p>
	<strong>Código: </strong><p>{{selected.codigo}}</p>
	<strong>Estoque: </strong><p>{{selected.estoque}}</p>
	<strong>Preço: </strong><p>{{selected.preco}}</p>
	<button class="btn action" ng-show="on_actions('delete')" ng-click="form_submit()">Excluir</button>
	<button class="btn action" ng-click="form_close()">Fechar</button>
</div>