<!--
html padrão para os modulos, algumas variaveis terão que ser setadas no route
-->

<!-- Page Heading -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			{{ module_title }} 
		</h1>
		<ol class="breadcrumb">
			<li class="active">
				<i class="fa fa-users"></i> {{ module_title }}
			</li>
		</ol>
	</div>
</div>
<!-- /.row -->

<div id="actions" class="">
	<button class="btn action" ng-show="form_exists('create')" ng-click="form_open('create')">Cadastrar</button>
	<button class="btn action" ng-show="form_exists('read')" ng-click="form_open('read')">Detalhes</button>
	<button class="btn action" ng-show="form_exists('update')" ng-click="form_open('update')">Alterar</button>
	<button class="btn action" ng-show="form_exists('filter')" ng-click="form_open('filter')">Filtrar</button>
	<button class="btn action" ng-show="form_exists('delete')" ng-click="form_open('delete')">Excluir</button>
	<button class="btn action" ng-click="fill()">Atualizar</button>
</div>

<br/>

<div class="container" id="forms" ng-include="'partials/forms/' + module_form"></div>

<div id="messages" class="container" ng-hide="is_empty(messages)">
	<hr/>
	<div class="alert alert-success" role="alert" ng-repeat="m in messages.success">{{m}}</div>
	<div class="alert alert-info" role="alert" ng-repeat="m in messages.info">{{m}}</div>
	<div class="alert alert-warning" role="alert" ng-repeat="m in messages.warning">{{m}}</div>
	<div class="alert alert-danger" role="alert" ng-repeat="m in messages.danger">{{m}}</div>

	<button class="btn" ng-click="clear_messages()">Limpar Mensagens</button>
	<hr/>
</div>

<br/>

<div class="grid" ng-grid="grid_opts"></div>

<!-- end of module -->
